<!DOCTYPE html>
<html lang="en">

<head>
    <title>OTHELLO</title>


</head>

<body>

<div class="container">


    <div>
        <h3 class="text-muted">OTHELLO</h3>
    </div>



<form id="juegaForm" method="POST" action="/showBoard">

    <p>Eliga un tamaño
       <select name="boardSize">
         <option value="4">4x4</option>
         <option value="6">6x6</option>
         <option value="8">8x8</option>
       </select>
    </p>


    <p>Jugador 1
       <select name="player1">
         <option value="white">Blanco</option>
         <option value="black">Negro</option>
       </select>
    </p>

    <p>Jugador 2
       <select name="player2">

         <option value="black">Negro</option>
           <option value="white">Blanco</option>
       </select>
    </p>



    <button type="submit" id="juega" >Jugar!</button>
</form>



</div>
</body>

</html>